* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body{
    background-image: url('./Light BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
