.new-game-wrapper {
    width: 220px;
    height: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #9593a4d2;
    border-radius: 40px;
    border: 5px solid #9593A4;
    padding: 20px;
    color: #EBECEF;
    box-sizing: content-box;
}

.new-game button {
    color: #EBECEF;
    height: 50px;
    background-color: #380175;
    width: 100px;
    border: none;
    border-radius: 40px;
    margin: 0 auto;
    font-family: 'Gudea', sans-serif;
    cursor: pointer;
}