.party-wrapper{
    display: flex;
}
.party-wrapper .character{
    align-self: baseline;
    margin-left: -50px;
}

.ray {
    clip-path:polygon(0% 45%, 100% 0%, 100% 100%, 0% 55%);
    transition: 4s;
    transform: translateY(-50%) translateX(-50%) rotate(var(--angle)) translateY(50%) translateX(50%) translateY(-50%); 
    position: absolute;
    top: -30px;
    left: 61%;
    width: 500px;
    height: 100px;
    background: linear-gradient(0.25turn,rgba(247, 249, 255, 0.7), rgba(255,255,100,0));
}


.light1 {
    animation-duration: 7s;
    animation-name: wave;
    animation-iteration-count: infinite;
}

.light2 {
    animation-duration: 5s;
    animation-name: wave;
    animation-iteration-count: infinite;
}

@keyframes wave {
    0% {
        --angle: 90deg;
    }

    50% {
        --angle: 110deg;
    }
    100% {
        --angle: 60deg;
    }
}
