
.train-wrapper {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.train-wrapper .character {
    align-self: flex-end;
}

.train-wrapper .weigths {
    height: 250px;
    align-self: flex-end;
    margin-bottom: 50px;
    margin-left: 160px;
    animation: weights-slide-in 1s 1 linear;
}

@keyframes weights-slide-in {
    0% {
        margin-left: 500px;
    }
    100% {
        margin: 0 0 50px 160px;
    }
}
